# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Generated PDFs
highlights/

# Qdrant
qdrant_storage/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Misc
dev_work/